[submodule "IOs-AirQuality"]
	path = IOs-AirQuality
	url = git@github.com:minhson0506/IOs-AirQuality.git
[submodule "AndroidApp-AirQuality"]
	path = AndroidApp-AirQuality
	url = git@github.com:minhson0506/AndroidApp-AirQuality.git
[submodule "AirQualityBackend"]
	path = AirQualityBackend
	url = git@github.com:minhson0506/AirQualityBackend.git
[submodule "web-airquality"]
	path = web-airquality
	url = git@github.com:minhson0506/web-airquality.git
[submodule "airquality_hardware"]
	path = airquality_hardware
	url = git@github.com:minhson0506/airquality_hardware.git
